:root {
    --color-primary: #000000;      /* Black */
    --color-secondary: #ffff01;    /* Yellow */
    --color-third: #f19e23;

}

/* Main container */
.videos {
    margin-top: 20px;

}

body{
    background-color: rgba(0, 0, 0, 0.1);
    background-image:
    url("C:\Users\Pasca\Projekte\EntchenGamingSite\website\src\image\blob-scene-haikei.svg"),
    url("C:\Users\Pasca\Projekte\EntchenGamingSite\website\src\image\blob-scene-haikei1.svg");
    background-attachment: fixed;
    background-size: cover;


}


/* Video container */
.video-container {
    margin-bottom: 20px;


}

/* Video iframe */
.video-container iframe {
    width: 560px;
    height: 315px;
    max-width: 30em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2em;
}

/* Title */
.video-container h3 {
    color: var(--color-third);
}

/* Button container */
.button {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Headings */
.button h1 {
    color: var(--color-primary);
}

/* Paragraph */
.button p {
    color: var(--color-primary);
}

/* Apply secondary color to button background */
.button {
    margin-top: 1em;
    border-radius: 10em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Apply third color to button text */
.button h1,
.button p {
    color: var(--color-third);
}