.app {

  background-size: cover;

  background-position: center;
}

:root {
  --color-primary: #000000;      /* Black */
  --color-secondary: #ffff01;    /* Yellow */
  --color-third: #f19e23;

}

body{


}
